
HTML {
	HEIGHT: 100%
}
BODY {
	HEIGHT: 100%;
}


#fW_Content {
WIDTH: 100%; height:600px;
	background-image:url(../images/bg16.jpg);
}

#fW_Content IMG {
	WIDTH: 960px; height:600px;  border:0px;
}
#fW_Controls {
	DISPLAY: inline; FLOAT: left; MARGIN: 8px 0px 0px 865px; WIDTH: 120px; HEIGHT: 42px
}
#fW_Controls A {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(../images/btnFeatureHover.gif) no-repeat; FLOAT: left; WIDTH: 30px; COLOR: white; PADDING-TOP: 6px; HEIGHT: 24px; TEXT-ALIGN: center
}
#fW_Controls A.activeSlide {
	BACKGROUND-POSITION: 0px -30px; COLOR: #ff5300
}
#fW_Controls A:hover {
	BACKGROUND-POSITION: 0px -30px; COLOR: #ff5300
}
